<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.uengine.garuda.web.product.ProductRepository">

    <insert id="insertProduct" parameterType="org.uengine.garuda.model.Product"
            useGeneratedKeys="true" keyProperty="record_id" keyColumn="record_id">
        INSERT INTO product (
        name,
        category,
        owner_account_id,
        description,
        redirect_url,
        organization_id,
        tenant_id
        )
        VALUES (
        #{name},
        #{category},
        #{owner_account_id},
        #{description},
        #{redirect_url},
        #{organization_id},
        #{tenant_id}
        )
    </insert>

    <update id="updateProductById" parameterType="org.uengine.garuda.model.Product">
        UPDATE product
        SET
        name = #{name},
        owner_account_id = #{owner_account_id},
        description = #{description},
        redirect_url = #{redirect_url}
        WHERE id = #{id}
        AND organization_id = #{organization_id}
    </update>

    <update id="updateProductActiveById" parameterType="map">
        UPDATE product
        SET
        is_active = #{is_active}
        WHERE id = #{id}
        AND organization_id = #{organization_id}
    </update>

    <update id="updateProductId" parameterType="map">
        UPDATE product
        SET
        id = #{id}
        WHERE record_id = #{record_id}
    </update>

    <update id="updatePlanUsageSeq" parameterType="map">
        UPDATE product
        SET
        plan_seq = #{plan_seq},
        usage_seq = #{usage_seq}
        WHERE id = #{id}
        AND organization_id = #{organization_id}
    </update>

    <select id="selectProductByCondition" parameterType="map" resultType="org.uengine.garuda.model.Product">
        SELECT * FROM product
        WHERE 1=1
        AND organization_id = #{organization_id}
        <if test="searchKey != '' and searchKey != null">
            AND (
            id LIKE CONCAT('%',#{searchKey},'%') OR
            name LIKE CONCAT('%',#{searchKey},'%') OR
            category LIKE CONCAT('%',#{searchKey},'%') OR
            redirect_url LIKE CONCAT('%',#{searchKey},'%') OR
            owner_account_id LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test="is_active != '' and is_active != null">
            AND is_active = #{is_active}
        </if>
        <if test="category != '' and category != null">
            AND category = #{category}
        </if>
        LIMIT #{offset},#{limit}
    </select>

    <select id="selectProductByConditionCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(*) AS count FROM product
        WHERE 1=1
        AND organization_id = #{organization_id}
        <if test="searchKey != '' and searchKey != null">
            AND (
            id LIKE CONCAT('%',#{searchKey},'%') OR
            name LIKE CONCAT('%',#{searchKey},'%') OR
            category LIKE CONCAT('%',#{searchKey},'%') OR
            redirect_url LIKE CONCAT('%',#{searchKey},'%') OR
            owner_account_id LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test="is_active != '' and is_active != null">
            AND is_active = #{is_active}
        </if>
        <if test="category != '' and category != null">
            AND category = #{category}
        </if>
    </select>

    <select id="selectProductCount" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT count(*) AS count FROM product
        WHERE 1=1
        AND organization_id = #{organization_id}
    </select>

    <select id="selectProductById" parameterType="map" resultType="org.uengine.garuda.model.Product">
        SELECT * FROM product
        WHERE id = #{id}
        AND organization_id = #{organization_id}
    </select>

    <delete id="deleteProductById" parameterType="map">
        DELETE FROM product
        WHERE id = #{id}
        AND organization_id = #{organization_id}
    </delete>
</mapper>