<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cloudine.web.registe.RegisteRepository">

	<insert id="insert" parameterType="io.cloudine.web.registe.Registe" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO CL_REGISTE (user_id, token)
        VALUES (
        #{user_id}, #{token}
        )
    </insert>

	<select id="select" resultType="io.cloudine.web.registe.Registe">
        SELECT * FROM CL_REGISTE
        WHERE TOKEN = ${value}
    </select>

    <select id="selectByUseridAndToken" parameterType="io.cloudine.web.registe.Registe" resultType="io.cloudine.web.registe.Registe">
        SELECT
        id,
        user_id,
        token,
        registration
        FROM CL_REGISTE
        WHERE token = #{token}
        AND user_id = #{user_id}
    </select>

</mapper>