<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ========================= JAVAMAIL DEFINITION ========================= -->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="#{systemProperties['org.killbill.mail.smtp.host']}"/>
        <property name="username" value="#{systemProperties['org.killbill.mail.smtp.user']}"/>
        <property name="password" value="#{systemProperties['org.killbill.mail.smtp.password']}"/>
        <property name="port" value="#{systemProperties['org.killbill.mail.smtp.port']}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">#{systemProperties['org.killbill.mail.smtp.auth']}</prop>
                <prop key="mail.smtp.starttls.enable">#{systemProperties['org.killbill.mail.useSSL']}</prop>
                <prop key="mail.smtp.ssl.trust">#{systemProperties['org.killbill.mail.smtp.host']}</prop>
            </props>
        </property>
    </bean>

    <!-- ========================= TEMPLATE ENGINE DEFINITION ========================= -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>
</beans>