<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ========================= SCHEDULER DEFINITION ========================= -->

    <bean id="quartzJobScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="autoStartup" value="true"/>
        <property name="beanName" value="scheduler"/>
        <property name="applicationContextSchedulerContextKey" value="CTX"/>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
        <property name="configLocation" value="/WEB-INF/quartz.properties"/>
        <property name="jobDetails">
            <list>
                <ref bean="oneTimeBuyJob"/>
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="oneTimeBuyJobTrigger"/>
            </list>
        </property>
    </bean>

    <!-- ========================= JOB DEFINITION ========================= -->

    <bean name="oneTimeBuyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="durability" value="true"/>
        <property name="jobClass" value="org.uengine.garuda.backend.scheduler.jobs.OneTimeBuyJob"/>
    </bean>

    <bean id="oneTimeBuyJobTrigger" class="org.uengine.garuda.backend.scheduler.QuartzCronTriggerFactoryBean">
        <property name="jobDetail" ref="oneTimeBuyJob"/>
        <property name="cronExpression" value="0/10 * * * * ?"/>
    </bean>
</beans>