Oops, your most recent subscription payment was declined by your bank.

Here are the details of your declined payment:

invoiceNumber: {{invoice.invoiceNumber}}
paymentDate: {{invoice.invoiceDate}}

{{#invoice.invoiceItems}}
{{startDate}} {{planName}} : {{formattedAmount}}
{{/invoice.invoiceItems}}

invoiceAmountPaid:  {{invoice.formattedPaidAmount}}
invoiceAmountTotal: {{invoice.formattedBalance}}


billedTo:
{{account.companyName}}
{{account.name}}
{{account.address1}}
{{account.city}}, {{account.stateOrProvince}} {{account.postalCode}}
{{account.country}}

You can update your payment information here:
http://your-application/payment-method-update-page

To ensure continued access to {{organization.company_name}}, please update your billing information within 14 days of your last statement.

If you have any questions about your account, please reply to this email or contact {{organization.company_name}} Support at: {{organization.phone}}