<div>This email is to confirm your recent subscription cancellation. Your subscription will remain active until
    {{subscription.chargedThroughDate}}.
</div>
<div><br></div>
<div>Here are the details of the subscription you canceled:</div>
<div><br></div>
<div>Description: {{subscription.lastActivePlan.name}}</div>
<div>Expires at: &nbsp;{{subscription.chargedThroughDate}}</div>
<div><br></div>
<div>At the end of your subscription, your {{organization.company_name}} account will be disabled and you will not be
    able to access {{organization.company_name}} on your iPad.
</div>
<div><br></div>
<div>We're sorry to see you go. &nbsp;If you have any questions or if you have received this message in error, please
    reply to this email or contact {{organization.company_name}} Support at {{organization.phone}}.
</div>
<div><br></div>
<div>To reactivate your subscription before it expires, or to view previous invoices, please see your account at:
    http://your-application.com/invoice-page
</div>
<div><br></div>
<div>If you have any questions about your account, please reply to this email or contact {{organization.company_name}}
    Support at: {{organization.phone}}
</div>