<div>This email confirms your recent payment.</div>
<div><br></div>
<div>Here are the details of your payment:</div>
<div><br></div>
<div>invoiceNumber: {{invoice.invoiceNumber}}</div>
<div>paymentDate: {{invoice.invoiceDate}}</div>
<div><br></div>
<div>{{#invoice.invoiceItems}}</div>
<div>{{startDate}} {{planName}} : {{formattedAmount}}</div>
<div>{{/invoice.invoiceItems}}</div>
<div><br></div>
<div>invoiceAmountPaid: &nbsp;{{invoice.formattedPaidAmount}}</div>
<div>invoiceAmountTotal: {{invoice.formattedBalance}}</div>
<div><br></div>
<div>billedTo:</div>
<div>{{account.companyName}}</div>
<div>{{account.name}}</div>
<div>{{account.address1}}</div>
<div>{{account.city}}, {{account.stateOrProvince}} {{account.postalCode}}</div>
<div>{{account.country}}</div>
<div><br></div>
<div>If you have any questions about your account, please reply to this email or contact {{organization.company_name}}
    Support at: {{organization.phone}}
</div>